---
import Layout from '../../layouts/Layout.astro';

const title = '대시보드';
const pageTitle = `Home > ${title}`;
const idName = 'dashboard';

let steps = [
  {
    number: 1,
    smallNumber: 2,
    status: 'status-in-progress',
    desc: '목표라인 확인',
  },
  { number: 2, smallNumber: 3, status: 'status-in-progress', desc: '목표설정' },
  { number: 3, smallNumber: 3, status: 'status-in-progress', desc: '중간면담' },
  {
    number: 4,
    smallNumber: 3,
    status: 'status-in-progress',
    desc: '업무실적 제출',
  },
  {
    number: 5,
    smallNumber: 3,
    status: 'status-current',
    desc: '평가라인 확인',
  },
  { number: 6, smallNumber: 3, status: 'status-default', desc: '다면리뷰' },
  { number: 7, smallNumber: 3, status: 'status-default', desc: '평가자 평가' },
  { number: 8, smallNumber: 3, status: 'status-default', desc: '조정회의' },
  { number: 9, smallNumber: 3, status: 'status-default', desc: '이의제기' },
  { number: 10, status: 'status-default', desc: '결과공개' },
  { number: 11, status: 'status-default', desc: '평가완료' },
];

let shortcuts = [
  { number: 1, desc: '목표설정' },
  { number: 2, desc: '업무실적' },
  { number: 3, desc: '리뷰' },
  { number: 4, desc: '성과평가' },
  { number: 5, desc: '리더십리뷰' },
  { number: 6, desc: '일하는 방식 리뷰' },
  { number: 7, desc: '자기신고서' },
  { number: 8, desc: '평가결과' },
];
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->

  <div class="color-selector">
    <button class="color-button" data-color="green">Green</button>
    <button class="color-button" data-color="blue">Blue</button>
    <button class="color-button" data-color="orange">Orange</button>
  </div>

  <script>
    document.querySelectorAll('.color-button').forEach((button) => {
      button.addEventListener('click', function () {
        let selectedColor = this.getAttribute('data-color');

        // body의 기존 색상 클래스를 제거
        document.body.classList.remove('green', 'blue', 'orange');

        // 선택한 색상의 클래스를 body에 추가
        document.body.classList.add(selectedColor);
      });
    });
  </script>

  <div class="cnt-wrap">
    <!-- 로고 -->
    <section class="db-logo">
      <div class="img-wrap">
        <img src="../assets/img/dash-logo.png" alt="" />
        <div class="txt-wrap">
          <h2>한국은행 직원평가시스템</h2>
          <p>[Vision] 국가경제의 안정과 발전을 이끄는 한국은행</p>
        </div>
      </div>
    </section>
    <!-- 로고 eee -->

    <!-- 평가현황 -->
    <section class="db-section">
      <div class="com-title">평가 현황</div>
      <div class="db-item small2 evaluation-status">
        <ul class="step">
          <div class="bar"></div>
          {
            steps.map(function (step) {
              return (
                <>
                  <li class={`step__item ${step.status}`}>
                    <div class={`circle-number`}>
                      {step.number}
                      {step.smallNumber && (
                        <div class="circle-small">
                          <span>{step.smallNumber}</span>
                        </div>
                      )}
                    </div>
                    <div class="step-desc">{step.desc}</div>
                  </li>
                </>
              );
            })
          }
        </ul>
      </div>
    </section>
    <!-- 평가현황 eee -->

    <!-- 바로가기 -->
    <section class="db-section">
      <div class="com-title">바로가기</div>
      <div class="db-item">
        <div class="shortcut">
          <div class="shortcut__list">
            {
              shortcuts.map(function (el) {
                return (
                  <div class={`shortcut__item`}>
                    <a href="#" class={` ${el.gap}`}>
                      <div class="icon">
                        <img
                          src={`../assets/img/shortcut-${el.number}.svg`}
                          alt=""
                        />
                      </div>
                      <div class="txt">{el.desc}</div>
                    </a>
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
    </section>
    <!-- 바로가기 eee -->

    <!-- 평가일정, 공지사항 -->
    <section class="db-section">
      <section class="flex three-item type1">
        <!-- 평가일정 -->
        <article class="db-evaluation">
          <div class="com-title">평가일정</div>
          <div class="db-item small mb10">
            <div class="top-border"></div>
            <div class="evaluation">
              <p class="tit">2024 상반기 성과평가(계약직)</p>
              <ul class="circle-list">
                <li>
                  대상기간 : <span>2024.01.01 ~ 2024.06.30</span>
                </li>
                <li>
                  평가기간 : <span>2024.01.01 ~ 2024.06.30</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="db-item small">
            <div class="top-border"></div>
            <div class="evaluation">
              <p class="tit">2024 상반기 성과평가(계약직)</p>
              <ul class="circle-list">
                <li>
                  대상기간 : <span>2024.01.01 ~ 2024.06.30</span>
                </li>
                <li>
                  평가기간 : <span>2024.01.01 ~ 2024.06.30</span>
                </li>
              </ul>
            </div>
          </div>
        </article>
        <!-- 평가일정 eee -->
        <article class="db-noti">
          <div class="com-title">공지사항</div>
          <div class="db-item small top-border">
            <ul>
              <li>
                <a href="#" class="flex aic gap20">
                  <div class="date">
                    <div class="year-nomth">2024.03</div>
                    <div class="day">21</div>
                  </div>
                  <p class="desc one-line">
                    글자테스트글자테스트글자테스트글자테스트글자테스트글자테스트글자테스트
                  </p>
                </a>
              </li>
              <li>
                <a href="#" class="flex aic gap20">
                  <div class="date">
                    <div class="year-nomth">2024.03</div>
                    <div class="day">21</div>
                  </div>
                  <p class="desc one-line">시스템 점검 공지</p>
                </a>
              </li>
              <li>
                <a href="#" class="flex aic gap20">
                  <div class="date">
                    <div class="year-nomth">2024.03</div>
                    <div class="day">21</div>
                  </div>
                  <p class="desc one-line">시스템 점검 공지</p>
                </a>
              </li>
            </ul>
          </div>
        </article>
        <article class="db-download">
          <div class="com-title hid">1</div>
          <ul>
            <li>
              <a href="#" class="com-btn">
                <img src="../assets/img/db-down1.svg" alt="" />
                <p>성과편람 <span class="main-color">다운로드</span></p>
              </a>
            </li>
            <li>
              <a href="#" class="com-btn">
                <img src="../assets/img/db-down2.svg" alt="" />
                <p>메뉴얼 <span class="sec-color">다운로드</span></p>
              </a>
            </li>
          </ul>
        </article>
      </section>
    </section>
    <!-- 평가일정, 공지사항 eee -->
  </div>
  <!-- 컨텐츠가 들어갈 부분 eee -->
</Layout>
