---
// 인터페이스 정의
interface Props {
  label: string;
  value: string;
  name: string;
}

// 옵션 가져오기
const options = Astro.props.options;
const {name} = Astro.props;
const {align} = Astro.props;
---

<!-- 라디오 버튼 그리기 -->
<div class=`com-radio ${align}`>
  {
    options.map((option) => (
      <label>
        <input
          type="radio"
          class="com-input input-radio"
          name={name}
        />
        <span>{option.label}</span>
      </label>
    ))
  }
</div>