---
const models = [
  {
    id: 'Galaxy S25',
    name: 'Galaxy S25',
    active: true,
    colors: [
      {
        subTitle: '티타늄 블랙',
        name: 'gray',
        active: true,
        images: ['S24_t-gray_01.jpg', 'S24_t-gray_02.jpg', 'S24_t-gray_03.jpg'],
      },
      {
        subTitle: '티타늄 화이트',
        name: 'white',
        active: false,
        images: [
          'S24_t-white_01.jpg',
          'S24_t-white_02.jpg',
          'S24_t-white_03.jpg',
        ],
      },
      {
        subTitle: '티타늄 바이올렛',
        name: 'violet',
        active: false,
        images: [
          'S24_t-violet_01.jpg',
          'S24_t-violet_02.jpg',
          'S24_t-violet_03.jpg',
        ],
      },
      {
        subTitle: '티타늄 옐로우',
        name: 'yellow',
        active: false,
        images: [
          'S24_t-yellow_01.jpg',
          'S24_t-yellow_02.jpg',
          'S24_t-yellow_03.jpg',
        ],
      },
    ],
    storage: [
      {
        size: '512GB',
        active: true,
        price: 12841000,
        discount: 1100000,
        savings: 170000,
        storagePrice: {
          others: 386000,
          uplus: 0,
          notice: "많은 512GB 사용자들이 '예약'으로 구매했어요",
        },
        benefitList: [
          { label: '공시지원금', value: '173,650원' },
          { label: '사전알람 랜덤쿠폰', value: '100,000원' },
          { label: '사전예약 랜덤쿠폰', value: '30,000원' },
          { label: '쓰던 폰 반납', value: '435,000원' },
          { label: '쓰던 폰 추가보상(셀로)', value: '150,000원' },
          { label: '삼성카드 캐시백', value: '90,000원' },
          { label: '무료 용량 업그레이드', value: '158,000원' },
          { label: 'N Pay 포인트 (24개월)', value: '0원' },
        ],
      }
    ],
  },
  {
    id: 'Galaxy S25 Ultra',
    name: 'Galaxy S25 Ultra', 
    active: false,
    colors: [
      {
        subTitle: '티타늄 블랙',
        name: 'gray',
        active: true,
        images: [
          'S24U_t-gray_01.jpg',
          'S24U_t-gray_01.jpg',
          'S24U_t-gray_01.jpg',
        ],
      },
      {
        subTitle: '티타늄 화이트',
        name: 'white',
        active: false,
        images: [
          'S24U_t-white_01.jpg',
          'S24U_t-white_02.jpg',
          'S24U_t-white_03.jpg',
        ],
      },
      {
        subTitle: '티타늄 바이올렛',
        name: 'violet',
        active: false,
        images: [
          'S24U_t-violet_01.jpg',
          'S24U_t-violet_02.jpg',
          'S24U_t-violet_03.jpg',
        ],
      },
      {
        subTitle: '티타늄 옐로우',
        name: 'yellow',
        active: false,
        images: [
          'S24U_t-yellow_01.jpg',
          'S24U_t-yellow_02.jpg',
          'S24U_t-yellow_03.jpg',
        ],
      },
    ],
    storage: [
      {
        size: '512GB',
        active: true,
        price: 17210000,
        discount: 170000,
        savings: 160000,
        storagePrice: {
          others: 386000,
          uplus: 0,
          notice: "많은 512GB 사용자들이 '<span>예약</span>'으로 구매했어요",
        },
        benefitList: [
          { label: '공시지원금', value: '520,000원' },
          { label: '사전알람 랜덤쿠폰', value: '45,000원' },
          { label: '사전예약 랜덤쿠폰', value: '670,000원' },
          { label: '쓰던 폰 반납', value: '220,000원' },
          { label: '쓰던 폰 추가보상(셀로)', value: '220,000원' },
          { label: '삼성카드 캐시백', value: '220,000원' },
          { label: '무료 용량 업그레이드', value: '220,000원' },
          { label: 'N Pay 포인트 (24개월)', value: '220,000원' },
        ],
      }
    ],
  },
  {
    id: 'Galaxy S25 Plus',
    name: 'Galaxy S25 Plus',
    active: false,
    colors: [
      {
        subTitle: '티타늄 블랙',
        name: 'gray',
        active: true,
        images: [
          'S24P_t-gray_01.jpg',
          'S24P_t-gray_02.jpg',
          'S24P_t-gray_03.jpg',
        ],
      },
      {
        subTitle: '티타늄 화이트',
        name: 'white',
        active: false,
        images: [
          'S24P_t-white_01.jpg',
          'S24P_t-white_02.jpg',
          'S24P_t-white_03.jpg',
        ],
      },
      {
        subTitle: '티타늄 바이올렛',
        name: 'violet',
        active: false,
        images: [
          'S24P_t-violet_01.jpg',
          'S24P_t-violet_02.jpg',
          'S24P_t-violet_03.jpg',
        ],
      },
      {
        subTitle: '티타늄 옐로우',
        name: 'yellow',
        active: false,
        images: [
          'S24P_t-yellow_01.jpg',
          'S24P_t-yellow_02.jpg',
          'S24P_t-yellow_03.jpg',
        ],
      },
    ],
    storage: [
      {
        size: '512GB',
        active: true,
        price: 14100000,
        discount: 170000,
        savings: 160000,
        storagePrice: {
          others: 386000,
          uplus: 0,
          notice: "많은 512GB 사용자들이 '예약'으로 구매했어요",
        },
        benefitList: [
          { label: '공시지원금', value: '520,000원' },
          { label: '사전알람 랜덤쿠폰', value: '45,000원' },
          { label: '사전예약 랜덤쿠폰', value: '670,000원' },
          { label: '쓰던 폰 반납', value: '220,000원' },
          { label: '쓰던 폰 추가보상(셀로)', value: '220,000원' },
          { label: '삼성카드 캐시백', value: '220,000원' },
          { label: '무료 용량 업그레이드', value: '220,000원' },
          { label: 'N Pay 포인트 (24개월)', value: '220,000원' },
        ],
      }
    ],
  },
];
---

<article class="model-select-wrp">
  <div
    class="header-wrp"
    data-aos="fade-down"
    data-aos-duration="800"
    data-aos-delay="100"
  >
    <h3>
      <img
        style="width: 273px!important;"
        src="../assets/img/model-select-h3.png"
        alt=""
        loading="lazy"
      />
    </h3>
  </div>
  <div class="tab-group model-select">
    <div
      class="common-tab-menu-wrp common-inner"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="200"
    >
      <ul class="common-tab-menu model-tab">
        {
          models.map((model) => (
            <li
              class={`common-tab-menu-item ${model.active ? 'active' : ''}`}
              data-tab={model.id}
            >
              <button type="button">{model.name}</button>
            </li>
          ))
        }
      </ul>

      {
        models.map((model) => (
          <div
            class={`common-tab-content common-tab-content-wrp ${
              model.active ? 'active' : ''
            }`}
            id={model.id}
          >
            <div
              class="tab-group color-select"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="300"
            >
              {model.colors.map((color) => (
                <div
                  class={`common-tab-content ${color.active ? 'active' : ''}`}
                  id={`${model.id}-${color.name}`}
                >
                  <div class="tit-wrp">
                    <h3 class="model-title">{model.name}</h3>
                    <h4 class="color-title">{color.subTitle}</h4>
                  </div>
                  <div class="color-swiper swiper">
                    <div class="swiper-wrapper">
                      {color.images.map((image, index) => (
                        <div class="swiper-slide">
                          <img
                            src={`../assets/img/${image}`}
                            alt={`${model.name} ${color.name} 이미지${
                              index + 1
                            }`}
                            loading="lazy"
                          />
                        </div>
                      ))}
                    </div>
                    <div class="swiper-button-prev" />
                    <div class="swiper-button-next" />
                  </div>
                </div>
              ))}

              <ul class="common-tab-menu common-tabs color-tab">
                {model.colors.map((color) => (
                  <li
                    class={`common-tab-menu-item ${
                      color.active ? 'active' : ''
                    }`}
                    data-tab={`${model.id}-${color.name}`}
                  >
                    <button type="button" class={`color-btn ${color.name}`} />
                  </li>
                ))}
              </ul>
            </div>

            <div
              class="tab-group storage-select"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="400"
            >
              <ul class="common-tab-menu common-tabs storage-tab">
                {model.storage.map((storage) => (
                  <li
                    class={`common-tab-menu-item ${
                      storage.active ? 'active' : ''
                    }`}
                    data-tab={`${model.id}-${storage.size}`}
                  >
                    <button type="button">{storage.size}</button>
                  </li>
                ))}
              </ul>

              {model.storage.map((storage, index) => (
                <div
                  class={`common-tab-content ${storage.active ? 'active' : ''}`}
                  id={`${model.id}-${storage.size}`}
                  data-aos="fade-up"
                  data-aos-duration="1000"
                >
                  <div
                    class="price-info"
                    data-aos="fade-up"
                    data-aos-duration="1000"
                  >
                    <p class="original-price">
                      출고가 <br />
                      <span>{storage.price.toLocaleString()}</span>
                      <em>원</em>
                    </p>
                    <i class="arrow-icon2" />
                    <div class="reservation-price">오늘 혜택 적용가</div>
                    <p class="discount-price">
                      <span>{storage.discount.toLocaleString()}</span>
                      <em>원</em>
                    </p>
                    <div class="accordion">
                      <div class="accordion-txt-wrp">
                        <button
                          class="accordion-txt"
                          data-gtm-event-name="button_click"
                          data-gtm-event-category="클릭"
                          data-gtm-event-action="사전알람 콘텐츠 영역 - 버튼 클릭"
                          data-gtm-event-label="컨텐츠 : 쿠폰 사용 방법"
                          data-gtm-click-location="사전알람 콘텐츠 영역"
                          data-gtm-click-text="쿠폰 사용 방법"
                        >
                          <i class="exclamation-mark" />
                          자세히
                        </button>
                        <i class="arrow-down" />
                      </div>
                      <div class="accordion-content">
                        <ul class="benefit-list">
                          {storage.benefitList.map((benefit) => (
                            <li>
                              <span class="benefit-label">{benefit.label}</span>
                              <strong class="benefit-value">
                                {benefit.value}
                              </strong>
                            </li>
                          ))}
                        </ul>
                        <div class="benefit-notice">
                          <ul>
                            <li>※ 5G 프리미어 에센셜 요금제 공시지원금으로 개통</li>
                            <li>
                              Galaxy S23 512GB A등급, 25.01.08 셀로 판매가 기준
                            </li>
                            <li class="last">
                              ※ 선착순 종료 시 혜택가가 달라질 수 있습니다.
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))
      }
      <div class="common-btn-wrp mt-24">
        <button
          class="common-btn"
          ata-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="500"
          data-gtm-click-location="사전예약 콘텐츠 영역"
          data-gtm-click-text="예약신청_01-단계진입_오늘의 혜택 받고 예약하기"
          data-gtm-event-action="사전예약 콘텐츠 영역 - 버튼 클릭"
          data-gtm-event-category="클릭"
          data-gtm-event-label="컨텐츠 : 예약신청_01-단계진입_오늘의 혜택 받고 예약하기"
          data-gtm-event-name="button_click"
          type="button"
        >
          이 가격에 예약하기
          <i class="arrow-right animate"></i>
        </button>
        <p>※ 가입 신청서에서 용량/색상 변경 가능</p>
      </div>
    </div>
  </div>
</article>
