---
const notices = [
  {
    id: 'notice1',
    title: '할인 쿠폰',
    content: [
      '본 이벤트를 참여한 고객님 대상으로 할인 쿠폰이 1/23(목),1/24(금)에 카카오톡 알림톡 [LG유플러스닷컴] 채널을 통해 사용방법과 함께 발송됩니다.',
      '할인 쿠폰은 3만원~20만원 금액 중 랜덤으로 발급됩니다.',
      '해당 쿠폰은 사전알람 이벤트에 참여 고객 대상 전원 제공되오나, 사용은 유플러스닷컴에서 New galaxy 사전예약 후 휴대폰 가입신청서 작성시 쿠폰 번호 등록 후 가능하며, 선착순 1,500명에게 등록 한정됩니다.',
      '선착순 1,500명 사용 완료 시 조기 종료될 수 있으며, 당사 사정에 의하여 추후 고지 혹은 변경될 수 있습니다.',
      '당사 사정에 의하여 쿠폰은 기프티콘 등으로 대체 지급될 수 있습니다.',
      '이용 중인 휴대폰에 스팸(차단) 설정이 되어 있는 경우, 유플러스닷컴의 알림톡 안내 연락을 받지 못할 수 있습니다.',
      '고객이 잘못 입력한 정보로 인한 혜택 미제공은 당사가 책임지지 않습니다.',
      '본인 인증 기반으로 1인당 1개의 [사전알람 쿠폰] 사용이 가능하며, New galaxy 휴대폰에 한해 사용 가능합니다. (타 휴대폰 모델, 세컨 디바이스 및 액세서리몰 입점 상품 사용 불가)',
      '만 14세 미만의 고객님은 법정 대리인의 인증 완료 후 본 이벤트에 참여 가능합니다.',
      '만 14세 미만 미성년자 고객님께서 당첨되신 쿠폰은 사전알람 신청시 입력한 법정 대리인 휴대폰 번호로 발송됩니다.',
      '타인의 명의를 도용하여 부정인증을 시도한 경우 관련 법령에 따라 처벌(3년 이하의 징역형 또는 1천만원 이하의 벌금형) 받을 수 있습니다.',
      '타인의 개인정보 도용, 컴퓨터 프로그램 등을 이용한 응모 등 부정한 방법으로 이벤트에 참여하는 경우 쿠폰 사용이 취소됩니다.',
      '임직원은 혜택 수혜 불가합니다.',
    ],
  },
  {
    id: 'notice2',
    title: '경품 이벤트',
    titleContent: '경품지급 조건은 아래와 같습니다.',
    description:
      '* GS칼텍스 주유권 100만원, 골드바 2돈, 올리브영 기프트 카드 100만원, SONY 플레이스테이션 5 슬립, Celine 트리옹프 캔버스 & 카프스킨 미니 아바 탄, 네이버페이 모바일 금액권 1,000P는 사전알람 신청한 고객님 중 추첨하여 1/23(목) 이후 당첨되신 분께 개별 연락 드릴 예정입니다.',
    content: [
      '네이버 페이 포인트 등록은 유효기간까지만 등록 가능하며, 유효기간 만료시 등록이 불가능합니다.',
      '사용기간 : 등록일로부터 10년',
      '충전된 금액은 적립포인트로 지급되며, 취소 및 현금인출은 불가능합니다.',
      '적립포인트는 현금영수증 발행이 불가능합니다.',
      '상세내용은 네이버페이 이용약관 참고 부탁드립니다.',
      '법인 고객님은 본 이벤트에 응모하실 수 없습니다.',
      '만 14세 미만의 고객님은 법정 대리인의 인증 완료 후 본 이벤트에 참여 가능합니다.',
      '제조사 및 당사 사정에 의하여 경품 수급이 불가능 할 시 동일한 금액의 상품권으로 대체 지급될 수 있습니다.',
      '경품 색상과 모델은 배송 시점에 제조사 재고 현황에 따라 변경될 수 있으며, 이로 인한 취소/환불은 불가능합니다.',
      '당첨자 확인을 위해 이벤트 응모한 휴대폰번호로 개별 연락을 드리며, 5일간 연락이 되지 않는 경우 최종 당첨이 취소됩니다.',
      '이용 중인 휴대폰에 스팸 설정이 되어 있는 경우, 경품 대행사의 당첨 및 배송 안내 연락을 받지 못할 수 있습니다. 스팸 설정으로 인한 혜택 미제공은 당사가 책임지지 않습니다.',
      '고객이 잘못 입력한 정보로 인한 혜택 미제공은 당사가 책임지지 않습니다.',
      '당첨자와 경품 수령자는 동일해야 하며, 경품 양도는 불가합니다.',
      '타인의 명의를 도용하여 부정 인증을 시도한 경우 관련 법령에 따라 처벌(3년 이하의 징역형 또는 1천만원 이하의 벌금형) 받을 수 있습니다.',
      '타인의 개인정보 도용, 컴퓨터 프로그램 등을 이용한 응모 등 부정한 방법으로 이벤트에 참여하는 경우 당첨이 취소됩니다.',
      '상기 내용은 당사 사정에 의해 사전 예고 없이 종료될 수 있으며, 이벤트 기간이 지난 뒤 응모한 경우 당첨 대상에서 제외됩니다.',
      '개통, 당첨자 발표 일정은 제조사 사정에 의하여 추후 고지되거나 변경될 수 있습니다. 대상 고객님께는 개별 문자 공지 드리겠습니다.',
      '제세공과금 (22%, LG유플러스 부담) 신고를 위해 당첨자 서류 수취가 필요하며, 서류 미제출 시 자동으로 당첨에 취소됩니다.',
      '경품은 수급, 제세공과금 서류 수취 등의 사유로 발송까지 최대 3주가 소요될 수 있습니다.',
      '모바일 상품권의 경우 유효기간 만료 후 재발송은 불가합니다.',
      '모든 경품은 개봉 시 단순변심에 의한 교환이 불가합니다.',
      '이벤트/경품 지급 관련 안내엠투엠 고객센터: 02-425-5246 (상담 가능 시간:평일 10시~17시)',
    ],
  },
  {
    id: 'notice3',
    title: '요금제 및 멤버십',
    sections: [
      {
        title: '네이버 멤버십 혜택',
        content: [
          'VIP/VVIP 멤버십 고객님이 추가로 받을 수 있는 무료혜택이에요. 매월 1개의 혜택을 이용할 수 있어요.',
          'VVIP : 95,000원 이상 U+모바일 요금제를 사용하거나 전년도 통신료 납부금액이 200만 원 이상인 고객',
          'VIP : 74,800원 이상 U+모바일 요금제를 사용하거나 전년도 통신료 납부금액이 100만 원 이상인 고객',
          'VVIP/VIP 등급 기준에 맞는 요금제로 변경 후, 정지 없이 다음달 말일까지 이용하시면 다다음달 1일부터 등급이 오릅니다.',
        ],
      },
      {
        title: '다이렉트요금제',
        subsections: [
          {
            subtitle: '<갤럭시워치7 팩>',
            content: [
              '부가세가 포함된 금액입니다.',
              '갤럭시워치7를 기본으로 포함하고 있는 요금제입니다.',
              '해당 요금제를 24개월 동안 유지해야 갤럭시워치7 24개월 할부금이 무료 입니다. 다만, 할부 수수료는 별도로 내야 합니다.',
              '가입 후 24개월 이내 다른 요금제로 변경하거나 정지하더라도 이미 받은 갤럭시워치7는 고객님 소유 입니다.',
              '다만, 요금제를 변경한 달부터 24개월이 되는 달까지 기기 할부금을 내야 합니다.',
              '휴대폰을 해지하면, 할인이 안된 정상가의 할부금을 남은 기간 동안 내야 합니다.',
              '만 18세 이하 청소년 고객은 법정대리인의 동의가 있어야 24개월 할부금 무료 혜택을 받을 수 있습니다.',
              '외국인 또는 신용불량자 등 할부로 구매할 수 없는 고객님은 할부금 무료 혜택을 받을 수 없습니다.',
            ],
          },
          {
            subtitle: '<넷플릭스 + 유튜브 프리미엄 팩>',
            content: [
              '부가세가 포함된 금액입니다.',
              '넷플릭스 베이식과 유튜브 프리미엄을 기본으로 포함하고 있는 요금제입니다.',
              '만19세 이상 고객만 가입할 수 있습니다.',
              '해당 요금제는 가입 후 반드시 아래 안내된 경로 중 한가지를 선택해 넷플릭스와 유튜브 프리미엄 계정을 별도로 등록해야 합니다.',
              '요금제 가입 후, U+고객 인증을 하지 않고, 넷플릭스 또는 유튜브 프리미엄의 홈페이지/앱을 통해 바로 이용하실 경우, 추가 요금이 발생할 수 있습니다.',
              '요금제 가입 안내문자: 문자메시지 내 인터넷주소(URL)을 통해',
              "U+홈페이지 : 바로 옆 '넷플릭스 계정 등록하기' / '유튜브 프리미엄 이용하기'를 눌러",
              '해당 요금제를 이용하는 동안에는 휴대폰 명의를 변경할 수 없습니다. 명의를 변경하려면 넷플릭스와 유튜브 프리미엄이 제공되지 않는 요금제로 변경한 뒤 신청해 주세요. 명의를 변경한 뒤에는 변경된 명의자의 넷플릭스와 유튜브 프리미엄 계정을 등록해야 합니다.',
            ],
          },
        ],
      },
      {
        title: '넷플릭스',
        content: [
          '넷플릭스 베이식을 기본으로 이용할 수 있습니다. 요금을 더 내면 넷플릭스 스탠다드 또는 넷플릭스 프리미엄으로 변경할 수 있습니다.',
          '해당 요금제 이용 고객이 서비스를 일시정지 또는 해지하거나 넷플릭스를 이용할 수 없는 요금제로 변경하면, 넷플릭스에 미리 등록한 결제수단으로 자동 결제됩니다. 등록한 결제수단이 없으면 결제되지 않으며 넷플릭스도 이용할 수 없습니다.',
          '넷플릭스 기존 가입자가 해당 요금제에 가입하거나 넷플릭스 계정을 등록하면, 미리 결제한 넷플릭스 요금은 계정 등록일로부터 사용일수만큼 계산하여 넷플릭스 크레딧으로 받을 수 있습니다.',
          '넷플릭스 화질은 인터넷 연결 속도나 서비스, 기기 성능, 콘텐츠 시청 가능 여부에 따라 달라질 수 있습니다. 자세한 내용은 넷플릭스 이용약관 help.netflix.com/legal/termsofuse을 확인해 주세요.',
        ],
      },
      {
        title: '유튜브 프리미엄',
        content: [
          '유튜브 프리미엄 혜택은 고객 별 최대 24개월 이용할 수 있습니다.',
          '유튜브 프리미엄을 유료로 이용하고 있는 고객은 기존 계정을 해지한 후 신청하거나 기존에 유료로 이용하는 계정을 유지하면서 추가로 다른 구글 계정을 등록할 수 있습니다.',
          '고객이 사용하는 기기나 현재 위치, 기타 조건 등에 따라 일부 기능을 이용하지 못할 수 있습니다. 동영상을 시청하거나 PC 또는 휴대폰에 저장하려면 인터넷을 연결해야 합니다.',
        ],
      },
    ],
  },
  {
    id: 'notice4',
    title: '기타',
    content: [
      '광고성 정보 수신동의 이후 동의 철회를 희망하시는 경우 고객센터 1644-7009(유료) 로 연락 바랍니다.',
    ],
  },
];
---

<article class="common-notice-wrp">
  <div class="common-inner">
    <ul class="common-notice-menu">
      {
        notices.map((notice) => (
          <li class="common-notice-menu-item" data-tab={notice.id}>
            <div class="title-wrp">
              <div class="left">
                <span class="notice-dot" />
                {notice.title}
              </div>
              <i class="arrow-down" />
            </div>
            <div class="common-notice-content" id={notice.id}>
              <ul>
                {notice.id === 'notice2' && (
                  <>
                    <p class="notice-title">{notice.titleContent}</p>
                    <p class="notice-desc">{notice.description}</p>
                  </>
                )}
                {notice.id === 'notice3'
                  ? notice.sections.map((section) => (
                      <>
                        <p
                          class="notice-title"
                          style="font-weight: 800; color: #aaa"
                        >
                          {section.title}
                        </p>
                        {section.content
                          ? section.content.map((item) => <li>{item}</li>)
                          : section.subsections.map((subsection) => (
                              <>
                                <p
                                  class="notice-desc"
                                  style="margin-bottom: 5px"
                                >
                                  {subsection.subtitle}
                                </p>
                                {subsection.content.map((item) => (
                                  <li>{item}</li>
                                ))}
                              </>
                            ))}
                      </>
                    ))
                  : notice.content.map((item) => <li>{item}</li>)}
              </ul>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</article>
